:root {
	--bg-color-light: #fff;
	--bg-body-color-light: #f9f9fb;

	--text-color-main-light: #000;
	--text-color-second-light: darkgray;

	// --bg-btn-hover-ligh: lightgray;
	--bg-btn-hover-ligh: rgba(190, 171, 231, 0.3);

	--header-height: 80px;
	--content-height: calc(100vh - 160px - 32px);
}
