.panel {
  min-width: var(--header-height);
  height: var(--content-height);
  background: var(--bg-color-light);
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
  border-radius: 15px;
  margin-left: 16px;
  margin-top: 16px;
}